.main-body {
    background-image: url("../images/theater.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: Gutter_Rust_Italic;
    src: url("/assets/fonts/Gutter_Rust_Italic.otf");
}

.header {
    color: #ffffff;
    font-family: Gutter_Rust_Italic;
}

.logo img {
    width: 10%;
}

.main-content {
    color: #ffffff;
}

.main-content p {
    padding-top: 10%;

}

#random-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.movie-card {
   background: #222;
    
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.movie-card:hover {
    transform: translateY(-6px);
    
}

.movie-card img {
   width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-card h4 {
    
    font-size: 1rem;
}

.movie-card p {
   
    color: #bdbdbd;
    font-size: .875rem;
}
a{
    text-decoration: none;
}